html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #000 url(wallpaper.jpg) center / cover;
    background-attachment: fixed;
}

.logo {
    font-size: 4vh;
    font-weight: 700;
    color: white;
    text-decoration: none;
}

.logo span {
    color: aqua;
    margin-left: 3vh;
}

nav {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    padding: 0 20px;
    box-sizing: border-box;
}

.link {
    display: flex;
}

.link-1 a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    margin-right: 30px;
    font-size: 2.5vh;
    font-weight: 700;
}

.link-1 a:hover {
    color: red;
}

.home {
    padding: 150px 80px 80px;
}

.home h1 {
    color: red;
    text-transform: uppercase;
    text-align: start;
    font-size: 4vh;
}

.home-body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    padding: 80px;
    background: rgba(0, 0, 0, 0.5);
}

.home-body img {
    max-width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid red;
    margin-right: 100px;
}

.home-text {
    margin-left: 5vh;
}

.home-text h2 {
    font-size: 4vh;
    color: red;
    text-transform: capitalize;
}

.home-text h3 {
    font-size: 3vh;
    color: white;
    margin-top: 30px;
}

.home-text p {
    font-size: 2vh;
    color: white;
    margin-top: 30px;
}

.my-social {
    margin-top: 3vh;
    padding: 20px;
}

.my-social a {
    color: red;
    background-color: white;
    font-size: 3vh;
    padding: 12px;
    border-radius: 50%;
    margin-right: 10px;
}

.my-social a:hover {
    color: white;
    background-color: #ffb500;
}

.about {
    padding: 80px;
}

.about h1 {
    color: red;
    text-transform: uppercase;
    text-align: start;
    font-size: 4vh;
}

.about-body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 30px;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.5);
}

.about-body img {
    height: 400px;
    border-radius: 30px;
    border: 5px solid red;
}

.about-text {
    text-align: center;
    max-width: 50%;
}

.about-text h2 {
    font-size: 4vh;
    color: red;
    text-transform: capitalize;
    animation: hazel 2s ease-in-out infinite;
    animation-delay: 2s;
}

@keyframes hazel {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-22px);
    }
    100% {
        transform: translateY(0);
    }
}

.about-text p {
    font-size: 2vh;
    color: white;
    text-transform: capitalize;
}

.skills {
    padding: 80px;
}

.skills h1 {
    color: red;
    text-transform: uppercase;
    text-align: start;
    font-size: 5vh;
}

.skill-body {
    padding: 50px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
}

.skill-body h2 {
    color: white;
    text-align: center;
    text-transform: uppercase;
}

table {
    margin-top: 50px;
    width: 100%;
    border: 5px solid red;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    padding: 30px;
    color: white;
    text-transform: uppercase;
}

th i {
    color: red;
    font-size: 4vh;
}

.project {
    padding: 80px;
}

.project h1 {
    color: red;
    text-transform: uppercase;
    text-align: start;
    font-size: 4vh;
}

.project-body {
    padding: 30px;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.5);
}

.activity {
    display: flex;
    justify-content: space-around;
    padding: 100px;
}

.project-body h2 {
    color: red;
    text-transform: uppercase;
    text-align: center;
    font-size: 3vh;
}

.activity-1 {
    background-color: white;
    padding: 12px;
    transition: background-color 0.3s;
}

.activity-1:hover {
    background-color: red;
}

.activity img {
    height: 200px;
}

.activity h3 {
    color: black;
    text-transform: uppercase;
    text-align: center;
}

.testi {
    padding: 80px;
}

.testi h1 {
    color: red;
    text-transform: uppercase;
    text-align: start;
    font-size: 4vh;
}

.testi-body {
    padding: 30px;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.5);
}

.testi-body h2 {
    color: red;
    text-transform: uppercase;
    text-align: center;
    font-size: 3vh;
}

.commentors {
    margin-left: 25%;
    margin-right: 25%;
}

.people-1 {
    display: flex;
    background-color: white;
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 20px;
}

.people-1:hover {
    border: 3px solid red;
}

.people-1 img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.comments {
    margin-left: 2vh;
}

.people-1 h3 {
    text-transform: capitalize;
    color: red;
}

.people-1 p {
    color: black;
    text-transform: capitalize;
}

.cta {
    padding: 80px;
}

.cta h1 {
    color: red;
    text-transform: uppercase;
    text-align: start;
    font-size: 4vh;
}

.cta-body {
    padding: 30px;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.5);
}

.cta-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cta-body h2 {
    color: white;
    background-color: red;
    max-width: 30%;
    padding: 20px;
    border-radius: 100px;
}

.cta-text p {
    color: white;
    font-size: 2vh;
    margin-left: 20px;
}

.footer-1 {
    display: flex;
    align-items: center;
    color: white;
}

.footer-1 a {
    color: pink;
    font-size: 4vh;
}

.footer-1 p {
    margin-left: 10px;
}

.logo-2 {
    font-size: 5vh;
    font-weight: 700;
    color: white;
    text-decoration: none;
}

.logo-2 span {
    color: aqua;
    margin-left: 3vh;
}

.copy-right p {
    background-color: red;
    color: white;
    text-align: center;
    text-transform: capitalize;
    padding: 8px;
}


@media screen and (max-width: 768px) {
    .home-body, .about-body, .activity, .cta-footer {
        flex-direction: column;
        align-items: center;
    }
    
    .home-body img, .about-body img {
        margin-right: 0;
        margin-bottom: 20px;
    }
    
    .commentors {
        margin-left: 5%;
        margin-right: 5%;
    }

    .about-text {
        max-width: 100%;
    }

    nav {
        flex-direction: column;
    }

    .link-1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .link-1 a {
        margin: 10px;
    }
}
